.vscode
*.pyc
*.zip
*.egg-info
boto3*/
botocore*/
concurrent/
feedparser*
docutils*/
dateutil/
futures*
jmespath*/
six*
examples/
oauthlib*/
requests*/
tweepy*/
s3transfer*/
python_dateutil*
credentials.conf
